@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-family: Arial, Helvetica, sans-serif;
}
/* navbar */
nav {
  background: rgba(0, 0, 0, 0.5);
  padding-top: 17px;
  padding-bottom: 17px;
}
main h1 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.logo {
  padding-left: 107px;
}

.main-content .nav-menu {
  padding-left: 104px;
}
.main-content .cta {
  padding-right: 162px;
}
/* end navbar */

/* hero section */
#hero {
  height: 60em;
  width: 100%;
  background: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.80319) 73.22%,
      #08090a 99.74%
    ),
    url("/assets/Group\ 1.png");
  background-size: cover;
}
#hero .wrapper {
  padding-top: 313px;
  color: #ffffff;
}
#hero h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#hero h3 {
  padding-top: 57px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
}

#hero .cta-play {
  padding-top: 57px;
}

#hero button {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #1a1917;
  padding: 18px 60px;
  text-transform: uppercase;
}

#hero .story {
  padding-top: 285px;
}
/* end hero section */
