.hero {
  background: url("/assets/Group\ 1.png") no-repeat center center,
    radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.80319) 73.22%,
      #08090a 99.74%
    );
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
/* .gradient {
  background: radial-gradient(
    189.96% 61.18% at 50% 38.82%,
    rgba(255, 181, 72, 0) 0%,
    rgba(52, 44, 29, 0.80319) 73.22%,
    #08090a 99.74%
  );
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
} */
* {
  color: #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
}
.logo {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
}

header {
  padding: 14px 107px;
}

header a,
li {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

header {
  background-color: #000000;
  background: rgba(0, 0, 0, 0.5);
}
header li a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.play {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.main {
  padding-top: 150px;
}
.main h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.main p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  padding-top: 2rem;
}
.main button {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  color: #000000;
  border: none;
  padding: 10px 50px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.button {
  padding-top: 3em;
}
.story {
  padding-top: 8em;
}
.story p {
  font-weight: 700;
  font-size: 0.7rem;
  line-height: 22px;
  padding: 0;
  margin: 0;
}
.story img {
  padding: 0;
  margin: 0;
}
.image {
  padding: 0;
  margin: 0;
}

/* gamess */

.games {
  background: url("/assets/the-games-bg.jpg"),
    radial-gradient(
      136.03% 54.57% at 50% 48.04%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 60.63%,
      #080a0b 99.74%
    );
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
