@media (min-width: 1080px) {
  /* nav {
    background-color: blue;
    margin: 0 auto;
  }
  nav .wrapper {
    background-color: aquamarine;

  } */
}
@media (min-width: 720px) {
  nav {
    /* background-color: red; */
  }
}
@media (min-width: 640px) {
  nav {
    /* background-color: white; */
  }
}
