@media (max-width: 1080px) {
  #the-games .wrapper {
    /* padding: 254px 97px 282px 80px; */
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 720px) {
  nav .wrapper {
    padding: 0 30px 0 30px;
  }
  nav .wrapper .navigation .menu {
    position: absolute;
    display: none;
    background-color: black;
    top: 25px;
    right: -200px;
  }
  nav .wrapper .hamburger-menu {
    display: block;
  }
  nav .wrapper .navigation {
    position: relative;
  }
  #hero .wrapper {
    padding-left: 25px;
    padding-right: 25px;
    background-size: contain;
    padding-top: 100px;
  }
  /* the games */
  #game-features .wrapper {
    padding-left: 25px;
    padding-right: 25px;
    background-size: cover;
    padding-top: 100px;
    display: flex;
  }
  #game-features .left-content {
    display: none;
  }
  #game-features .right-content {
    width: 100%;
  }
  #sys-req .content-bottom {
    width: 450px;
    padding-left: 25px;
    padding-right: 25px;
    background-size: contain;
    padding-top: 100px;
    display: flex;
  }
}

@media (max-width: 640px) {
  #the-games .wrapper {
    padding-left: 25px;
    padding-right: 25px;
    background-size: contain;
    display: flex;
    align-items: center;
  }
  #the-games .carousel-wrapper .image img {
    width: 100%;
    height: auto;
  }
  #hero h1 {
    font-size: 60px;
  }
  #sys-req .wrapper {
    padding-left: 25px;
    padding-right: 25px;
    background-size: contain;
    align-items: center;
  }

  #sys-req .content-bottom {
    width: 395px;
    margin: 0 auto;
  }

  #sys-req .content-bottom .heading h1 {
    font-size: 40px;
    justify-content: center;
    text-align: center;
  }
  #sys-req .content-bottom .heading {
    text-align: center;
    display: flex;
  }

  #top-scores .wrapper {
    padding-left: 25px;
    padding-right: 25px;
    background-size: contain;
    align-items: center;
  }
}
