<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/games/style.css" />
    <link rel="stylesheet" href="../assets/css/games/responsive.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="container">
      <div class="top">
        <div class="content">
          <a href="/auth/logout">
            <p class="back"><</p>
          </a>
          <img src="/assets/images/logo 1.png" alt="" />
          <p class="rock">ROCK PAPER SCISSORS</p>
        </div>
        <form action="/auth/logout" method="get">
          <button class="btn btn-danger" type="submit">
            <p>logout</p>
          </button>
        </form>
      </div>

      <div class="bottom">
        <div class="wrapper-1">
          <p class="player">PLAYER 1</p>
          <div class="img-wrapper">
            <div
              id="p-rock"
              class="img-wrapper-gray start"
              onclick="startGame('rock')"
            >
              <img src="/assets/images/batu 1.png" alt="" class="rock" />
            </div>
            <div id="p-scissor" class="img-wrapper-gray start">
              <img
                id="p-scissor"
                src="/assets/images/gunting 1.png"
                alt=""
                class="scissor"
                onclick="startGame('scissor')"
              />
            </div>
            <div id="p-paper" class="img-wrapper-gray start">
              <img
                src="/assets/images/kertas 1.png"
                alt=""
                class="paper"
                onclick="startGame('paper')"
              />
            </div>
          </div>
        </div>
        <div class="wrapper-2">
          <p id="versus">VS</p>
          <div id="winEl"></div>
        </div>
        <div class="wrapper-1">
          <p class="player">COM</p>
          <div class="img-wrapper bot">
            <div class="img-wrapper-gray" id="botRock">
              <img src="/assets/images/batu 1.png" alt="" class="rock" />
            </div>
            <div class="img-wrapper-gray" id="botScissor">
              <img src="/assets/images/gunting 1.png" alt="" class="scissor" />
            </div>
            <div class="img-wrapper-gray" id="botPaper">
              <img src="/assets/images/kertas 1.png" alt="" class="paper" />
            </div>
          </div>
        </div>
      </div>
      <div
        class="refresh"
        onclick="function reload(){location.reload();} ; reload(); "
      >
        <img src="/assets/images/refresh 2.png" alt="" />
      </div>
    </section>
    <script src="../assets/utils/games-dom.js"></script>
  </body>
</html>
