<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/bootstrap/bootstrap.min.css" />
    <title>edit</title>
  </head>
  <body>
    welcome to edit

    <div class="container card card-body">
      <div
        class="container w-75 d-flex align-items-center justify-content-center flex-column"
      >
        form edit
      </div>
    </div>
    <div>
      <form action="/auth/logout" method="get">
        <input type="submit" value="logout here" />
      </form>
    </div>
  </body>
  <script src="../assets/bootstrap/bootstrap.bundle.min.js"></script>
</html>
